body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    position: absolute;
    top: 5px
}

h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#regForm {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#descTextArea {
    resize: none;
    width: 100%;
    height: 12vh;
    overflow: hidden;
}

#regProfilePic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 30vh;
    background-color: white;
    border: 2px solid #cbcbcb;
    border-radius: 50%;
}

input[type="file"] {
    display: none;
}


.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 6vh;
    background-color: #E5E5E5;
    border-radius: 200%;
    cursor: pointer;
    width: 7vh;
    height: 7vh;
    max-width: 30vh;
}


#logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 125px;
    height: 125px;
    margin-top: 10px;
    margin-left: 10px;
}

.hidden-input {
    display: none;
}


@media screen and (min-aspect-ratio: 1/1) {

    body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90vh;
        width: 850px;
        margin: auto;
        border-radius: 20px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    }

}