#register {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#regLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#regRight {
    width:40%;
}

input {
    margin-top: 20px;
    width: 80%;
}