body {
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-with-filter {
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    border-radius: 50px;
}

#filter-btn {
    height: 100%;
    font-size: 2vh;
    flex-grow: 1;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 0 50px 50px 0;
    border: none;
}

#searchBar {
    border-radius: 50px 0 0 50px;
    padding: 0;
    margin: 0;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#projectList {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 6vw;
    list-style-type: none;
    padding: 0;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 27vw;
    height: 24vh;
    margin: 15px 0;
    padding: 0;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.project-card:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.project-card-fig {
    background: #c4c4c4;
    border-radius: 40px 40px 0 0;
    width: 27vw;
    height: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#appLogo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 40px 40px 0 0;
}

.project-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8.5vh;
    font-size: 1.5vh;
    padding: 0 2vw;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.button {
    background-color: white;
    color: black;
    align-self: center;
    margin-bottom: 5px;
}

#load-more {
    font-size: 2vh;
    border: 1px solid lightgray;
    background: white;
    border-radius: 100px;
    padding: 0.5vh 1vh;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#load-more:active {
    box-shadow: none;
}