body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


.menuButton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10vw;
    width: 10vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.menuMobile {
    justify-content: start;
    height: auto;
    margin-bottom: 2vh;
}

.menuTopRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 80%;
    height: 7%;
    background-color: black;
    margin: 6px 0;
    border-radius: 20px;
}

#logo {
    width: 10vw;
    height: 10vw;
    margin: 0;
}

img {
    width: 125px;
    height: 125px;
    margin-top: 3px;
}

.user {
    margin: auto;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#github, #userImg {
    background-color: white;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-position: center center;
    object-fit: cover;
}

#userInfo {
    font-size: 2vh;
}

#userDesc {
    background-color: #E5E5E5;
    padding: 2vh 3vh;
    width: 85%;
    font-size: 2vh;
    border-radius: 30px;
    border: none;
    margin: 40px auto;
    height: 17vw;
    text-align: justify;
}

.search-with-filter {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    border-radius: 50px;
    align-items: center;
    height: 5vh;
}

#searchBar {
    border-radius: 20px 0 0 20px;
    margin: 0;
    height: 100%;
}

#searchBar:focus {
    outline: none;
}

.filterBtn {
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    color: black;
    padding: 4px 0 4px 3px;
    font-size: 1.8vh;
    border: none;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.filterBtn > option {
    width: 10px;
    font-size: x-small;
}

.filterMenu {
    width: 27%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.show {
    display: block;
}

#userProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    z-index: 0;
}

#projectCard {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    border-radius: 20px 0 0 20px ;
    align-items: center;
}

#projectImg {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 15vh;
    margin: 0;
    align-items: center;
    justify-content: start;
    flex-shrink: 0;
}

#projectImg img {
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 20px;
    margin: 0;
    object-fit: cover;
    background-position: center center;
}

#projectDetailDiv {
    height: 100%;
    width: 60%;
    margin-left: 1vw;
    padding: 8px 8px 16px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#editBtn {
    background-color: lightgray;
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);*/
    border: 0 solid black;
    border-radius: 0 20px 20px 0;
    font-size: 2vh;
    flex-grow: 1;
    padding-left: 0;
    padding-right: 0;
}

#projectName {
    align-self: flex-start;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 2.8vh;
    margin: 0 0 1vh 0;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#shortDesc {
    font-size: 2vh;
    max-width: 80%;
    margin: 0;
    padding: 0 2vw 0 0;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#date {
    font-size: 1.5vh;
    margin-bottom: 1vh;
    position: absolute;
    bottom: 1vh;
    right: 2vh;
}

#card-link {
    width: 90%;
}

#project-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

@media screen and (min-aspect-ratio: 1/1) {

    body {
        padding: 0 200px;
    }

    .search-with-filter {
        width: 90%;
        margin: 30px auto;
    }

    .filterBtn > option {
        width: 10px;
        font-size: 2vh;
    }

    .logo-container {
        height: 80px;
        width: 80px;
    }

    #logo {
        height: 80px;
        width: 80px;
    }

    .user {
        padding: 20px 40px;
    }

    #github, #userImg{
        height: 150px;
        width: 150px;
    }

    #userInfo {
        padding-left: 20px;
        flex-grow: 1;
    }

    #userProjects {
        width: 90%;
        margin: auto;
    }

    #userDesc {
        height: 150px;
        margin: 30px;
    }

    .menuTopRow {
        margin-bottom: 2vh;
    }
}
