body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.menuButton {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 10vw;
    width: 10vw;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

.menuMobile {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menuTopRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 80%;
    height: 7%;
    background-color: black;
    margin: 6px 0;
    border-radius: 20px;
}

#logo {
    width: 10vw;
    height: 10vw;
    margin: 0;
}

img {
    width: 125px;
    height: 125px;
    margin-top: 3px;
}

.user {
    margin: auto;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#github, #userImg {
    background-color: white;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    background-position: center center;
    object-fit: cover;
}

#userInfo {
    font-size: 2vh;
}

#userDesc {
    background-color: #E5E5E5;
    padding: 2vh 3vh;
    width: 85%;
    font-size: 2vh;
    border-radius: 30px;
    border: none;
    margin: 40px auto;
    height: 17vw;
    text-align: justify;
}

.searchFilter {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 95%;*/
}

#searchBar {
    font-size: 2vh;
    width: 70%;
    border-radius: 10px;
    padding-left: 10px;
}

.filterBtn {
    width: 100%;
    height: 100%;
    background-color: #E5E5E5;
    color: black;
    padding: 16px;
    font-size: 2vh;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.filterMenu {
    width: 27%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.filterOptions {
    border-radius: 10px;
    font-size: 2vh;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.filterOptions a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 2vh;
}

.filterMenu a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#userProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    z-index: 0;
}

#projectCard {
    position: relative;
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);*/
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    border-radius: 20px 0 0 20px ;
    align-items: center;
}

#projectImg {
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 15vh;
    margin: 0;
    align-items: center;
    justify-content: start;
}

#projectImg img {
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 20px;
    margin: 0;
    object-fit: cover;
    background-position: center center;
}

#projectDetailDiv {
    height: 100%;
    margin-left: 1vw;
    flex-grow: 1;
    padding: 8px 8px 16px 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#editBtn {
    background-color: lightgray;
    /*box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);*/
    border: 0 solid black;
    border-radius: 0 20px 20px 0;
    font-size: 2vh;
    flex-grow: 1;
    padding-left: 0;
    padding-right: 0;
}

#projectName {
    align-self: flex-start;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 2.8vh;
    margin: 0 0 1vh 0;
}

#shortDesc {
    font-size: 2vh;
    max-width: 80%;
    margin: 0;
    padding: 0 2vw 0 0;
    flex-grow: 1;
}

#date {
    font-size: 1.5vh;
    margin-bottom: 1vh;
    position: absolute;
    bottom: 1vh;
    right: 2vh;
}

#card-link {
    width: 90%;
}

#project-card-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1vh;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}