body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projectDetails {
    width: 100%;
}

#appOverview, #app-info-card {
    background-color: white;
    width: 100%;
    border-radius: 20px;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1vh;
}

#appOverviewTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nameAuthor {
    width: 70%;
}

#appOverviewBottom {
    margin-top: 40px;
}

#cardTags {
    border: 1px solid black;
    height: 4vh;
}

#shortDesc {
    margin-top: 40px;
    background-color: #E5E5E5;
    border-radius: 20px;
    padding: 15px 15px;
    height: 20vw;
}


#card-top-row {
    display: flex;
    flex-direction: row;
}

#card-logo {
    width: 20vw;
    height: 20vw;
    border-radius: 20px;
    margin-right: 3vw;
}

#card-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#card-tags {
    flex-grow: 1;
}

#card-bottom-row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#card-likes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#arrow-up, #arrow-down {
    width: 50px;
    height: 50px;
}

#card-like-count {
    text-align: center;
    font-size: 1.5vh;
    margin: 10px 0;
}

h2, p {
    margin: 0;
}

h2 {
    font-size: 3vh;
}

p {
    font-size: 2vh;
}

h5 {
    font-size: 1.3vh;
    margin: 1vh 0;
}

#projectShortDesc {
    flex-grow: 1;
}