body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forms {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    position: absolute;
    top: 20px;
    width: 15vw;
    height: 15vw;
}
h1 {
    font-size: 4vh;
}
#login {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a, a:visited{
    margin-top: 20px;
    font-size: 2vh;
    text-decoration: none;
    color: black;
}

a:hover {
    color: cornflowerblue;
}

button {
    margin: 2vh 0;
}

@media screen and (max-aspect-ratio: 16/12) {

}